#admin{
  height:500px;
  background-color: aliceblue;
}

.admin-categorie{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height:250px;
  width:250px;
  background-color:#06b4fe ;

}