/*  responsive  */

@media screen and (max-width: 1030px) {
  ul.nav {
    display: none;
  }

}
@media screen and (max-width: 1030px) {

 .logo{

  display: block;
   margin-left: 0;
   margin-right: 0;
 }
}