html {
  height: 100%; }

body {
  margin: 0;
  padding-top: 100px;
  position: relative;
  width: 100%;
  font-family: Helvetica Neue, sans-serif;
  min-height: 100%; }

/*  responsive  */
@media screen and (max-width: 1030px) {
  ul.nav {
    display: none; } }
@media screen and (max-width: 1030px) {
  .logo {
    flex: 0 0 auto; } }
section#faq {
  padding-bottom: 50px;
  width: 100%;
  background-color: aliceblue; }

section#about-contact {
  color: #fff;
  height: 200px;
  background: linear-gradient(135deg, #777, #150d0f); }

div.prices-background {
  margin: 50px 0 50px 0;
  height: 500px;
  background-color: #E6E6E6;
  display: flex;
  justify-content: center;
  align-items: center; }
  div.prices-background div.prices-background-description {
    padding-top: 30px;
    padding-left: 40px;
    margin: 50px 50px 50px 50px;
    height: 300px;
    width: 80%;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 5; }

div.prices-filemaker {
  background-color: #E6E6E6;
  padding-top: 50px;
  margin-bottom: 50px; }
  div.prices-filemaker .prices-filemaker-d-title {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px; }
  div.prices-filemaker div.prices-filemaker-description {
    padding-top: 30px;
    height: 300px;
    background-color: #ffffff;
    margin: 50px 50px 50px 50px;
    width: 80%;
    padding-bottom: 30px;
    border-radius: 10px; }

section.feat-background {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/image/b-feature.jpg");
  color: #fff;
  height: 500px;
  width: 100%;
  margin-top: -100px;
  background-size: cover; }

h2.feat-background-title {
  font-size: 60px; }

p.feat-background-subtitle {
  font-size: 25px; }

section.feat-pres {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: #f8f8f8; }

.pres-icon {
  cursor: pointer;
  width: 40%; }

.pres-icon:hover {
  border: 2px solid #000; }

hr#feat-line {
  border: 1px solid #000;
  margin: 60px 400px 60px 400px; }

.feat-pres-circle {
  display: block;
  margin: 0 auto;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: #fff;
  font-weight: 600;
  font-size: 20px; }

.feat-pres-icon-one .feat-pres-circle {
  background-color: #f2ae26; }

.feat-pres-icon-two .feat-pres-circle {
  background-color: #e60004; }

.feat-pres-icon-three .feat-pres-circle {
  background-color: #32cbf2; }

.feat-pres-icon-four .feat-pres-circle {
  background-color: #07a609; }

.feat-functionality {
  padding-top: 40px;
  padding-bottom: 100px;
  /* width:100%; */
  background-color: lightgreen; }

li.feat-functionality-list {
  list-style-type: none;
  margin: 10px 0 10px 25px;
  padding-bottom: 40px; }

a.feat-functionality-device {
  color: #f8f8f8;
  background-color: #06b4fe;
  padding: 10px 100px 10px 100px;
  border-radius: 4px; }

.feat-mac {
  background: url("../../assets/image/macbook.png") center no-repeat;
  background-size: 105%;
  height: 500px;
  position: absolute;
  top: -50px;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }

.feat-features {
  width: 75%;
  position: relative;
  top: -10px;
  left: -8px;
  z-index: 100; }

.feat-elevator {
  position: relative;
  background-color: #06b4fe;
  float: right;
  right: 50px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .feat-elevator .feat-elevator-arrow {
    font-size: 30px;
    color: #fff; }

section#account-content {
  margin: 50px 150px 100px 150px;
  padding: 80px 0 80px;
  background-color: aliceblue;
  border-radius: 10px; }

img.account-image {
  display: block;
  margin-right: auto;
  margin-left: auto; }

form#account-form {
  text-align: center; }

input.account-input {
  padding: 12px 20px;
  margin: 30px 0 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 55%; }

.p-account-condition {
  margin-right: 200px; }

.account-link {
  font-size: 15px; }

.account-condition-label {
  font-size: 13px; }

.condition-private {
  margin-top: 20px;
  margin-left: 120px; }

span.account-condition-link, .account-other-link {
  color: #06b4fe; }

.show-password {
  cursor: pointer; }

section#error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: #444;
  color: #fff; }

.form-forgot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px; }

input {
  outline: none; }

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: Helvetica Neue, sans-serif;
  background-color: #fff;
  font-weight: 500; }

button:focus {
  outline: none; }

a {
  color: #444; }

li {
  border: none;
  list-style-type: none; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .row.no-gutters .row.no-gutters > [class^="col-"],
  .row.no-gutters .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0; }

.navbar {
  background-color: #fff;
  width: 100%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.17); }
  .navbar .logo {
    margin-left: 55px; }

div.home-pre-bg {
  width: 100%;
  height: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/image/stock1.png") no-repeat center;
  background-size: cover;
  color: #f8f8f8;
  padding: 0 100px 125px; }
  div.home-pre-bg h1#title {
    font-size: 70px; }
  div.home-pre-bg h2#subtilte {
    font-size: 40px; }
  div.home-pre-bg button.ctn-btn-one {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 11px 20px;
    background-color: #ffffff;
    outline: none;
    margin-left: 20px; }

ul.nav {
  font-size: 17px; }
  ul.nav li.nav-item {
    font-family: Helvetica Neue, sans-serif;
    margin: 6px; }

.user-icon {
  cursor: pointer;
  margin-right: -7px; }

a.nav-link:hover, div.connect:hover {
  color: #06b4fe; }

a.nav-link {
  color: #000;
  font-weight: 500; }

.fade {
  opacity: 1; }

.dropdown-app {
  width: 400px; }

section#home-value {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 65px;
  background-color: #ffffff;
  color: #444;
  /* clip-path: polygon(
                   0 0,
                   100% 0,
                   100% 100%,
                   0 calc(100% - 5vw));*/ }
  section#home-value h2.value-title {
    padding-bottom: 30px;
    font-size: 40px; }
  section#home-value img.f-icon {
    height: 100px; }

div#home-wire {
  background-image: linear-gradient(135deg, #777, #150d0f);
  height: 413px;
  width: 100%;
  color: #ffffff; }

h2.wire-title {
  padding-top: 45px;
  font-size: 35px; }

p.wire-text {
  font-size: 20px; }

h2.wire-title, p.wire-text {
  padding-bottom: 70px;
  margin: 0 100px 0 50px; }

section.home-info {
  color: #444;
  background-color: #ffffff;
  height: 500px; }

.mockup {
  position: absolute;
  top: 98px; }

button.info-btn-one {
  color: #f8f8f8;
  background-color: #06b4fe;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 12px 14px 12px 14px;
  font-weight: 400;
  margin-right: 17px; }

p.info-text {
  margin-top: 70px;
  font-size: 20px; }

section#home-name {
  display: block;
  background-color: #E6E6E6;
  width: 100%; }
  section#home-name h2.home-name-title {
    margin-left: 70px;
    padding-top: 50px; }
  section#home-name p.home-name-date {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 40px;
    font-weight: 500; }
  section#home-name p.home-name-description {
    font-size: 20px; }

div.name-circle {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 2px solid #06b4fe; }

section#home-file {
  color: #f8f8f8;
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/image/stock2.jpg") no-repeat center;
  background-size: cover; }
  section#home-file div.container h3.file-title {
    color: #06b4fe;
    font-size: 45px; }
  section#home-file div.container p.file-text {
    font-size: 20px;
    margin-right: 100px;
    margin-left: 100px; }

footer.home-footer {
  background-color: #000000;
  color: #fff; }

.list-group-item {
  background-color: transparent;
  border: none; }

div.footer-line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  width: 100px;
  background-color: #000000; }

/* footer */
/*
footer.home-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $white-color; /*#f7f8fb
  div.foot-blog {
    margin: 0 100px 0 100px;
    h5.footer-title {
      font-size: 16px;
    }
    div.footer-line {
      display: block;
      margin-left: auto;
      margin-right:auto;
      height: 3px;
      width:100px;
      background-color: #000000;
    }
      li.home-footer-group {
        background-color: $white-color;
        border: none;
      }

  }
}

*/

/*# sourceMappingURL=style.css.map */
